@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap);





body {
  font-family: Quicksand;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -4.5px;
}
.display-1 > .mbr-iconfont {
  font-size: 6.4rem;
}
.display-2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.75rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -2.8px;
}
.display-2 > .mbr-iconfont {
  font-size: 4.4rem;
}
.display-4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.75rem;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 700;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.2rem;
    font-size: calc( 1.6125rem + (2.75 - 1.6125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.6125rem + (2.75 - 1.6125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #42474c !important;
}
.bg-success {
  background-color: #2d35ac !important;
}
.bg-info {
  background-color: #cccccc !important;
}
.bg-warning {
  background-color: #df3838 !important;
}
.bg-danger {
  background-color: #84bc7c !important;
}
.btn-primary {
  border: 0px !important;
  color: #ffffff;
  color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #42474c !important;
  border-color: #42474c !important;
  color: #cccccc !important;
}
.btn-primary:hover {
  color: #cccccc !important;
  background-color: #1e2123 !important;
  border-color: #1e2123 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #cccccc !important;
  background-color: #1e2123 !important;
  border-color: #1e2123 !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-primary:hover {
  background-color: #5a6167 !important;
}
.btn-secondary {
  border: 0px !important;
  color: #ffffff;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #cccccc !important;
}
.btn-secondary:hover {
  color: #cccccc !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #cccccc !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-info {
  border: 0px !important;
  color: #ffffff;
}
.btn-info,
.btn-info:active {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #cccccc !important;
}
.btn-info:hover {
  color: #cccccc !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #cccccc !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-success {
  border: 0px !important;
  color: #ffffff;
}
.btn-success,
.btn-success:active {
  background-color: #2d35ac !important;
  border-color: #2d35ac !important;
  color: #cccccc !important;
}
.btn-success:hover {
  color: #cccccc !important;
  background-color: #1d226f !important;
  border-color: #1d226f !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #cccccc !important;
  background-color: #1d226f !important;
  border-color: #1d226f !important;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-warning {
  border: 0px !important;
  color: #ffffff;
}
.btn-warning,
.btn-warning:active {
  background-color: #df3838 !important;
  border-color: #df3838 !important;
  color: #cccccc !important;
}
.btn-warning:hover {
  color: #cccccc !important;
  background-color: #ae1c1c !important;
  border-color: #ae1c1c !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #cccccc !important;
  background-color: #ae1c1c !important;
  border-color: #ae1c1c !important;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-danger {
  border: 0px !important;
  color: #ffffff;
}
.btn-danger,
.btn-danger:active {
  background-color: #84bc7c !important;
  border-color: #84bc7c !important;
  color: #cccccc !important;
}
.btn-danger:hover {
  color: #cccccc !important;
  background-color: #599c50 !important;
  border-color: #599c50 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #cccccc !important;
  background-color: #599c50 !important;
  border-color: #599c50 !important;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-white {
  border: 0px !important;
  color: #ffffff;
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #cccccc !important;
}
.btn-white:hover {
  color: #cccccc !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #cccccc !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover,
.btn-white:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-black {
  border: 0px !important;
  color: #ffffff;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #cccccc !important;
}
.btn-black:hover {
  color: #cccccc !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #cccccc !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black:hover,
.btn-black:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-primary-outline {
  background-color: transparent !important;
  border: 2px solid #42474c !important;
  color: #ffffff !important;
  color: #42474c !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #42474c;
  color: #42474c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #42474c;
  border-color: #42474c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #42474c !important;
  border-color: #42474c !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
  background-color: #42474c !important;
  color: #cccccc !important;
}
.btn-primary-outline:hover {
  color: #cccccc !important;
}
.btn-secondary-outline {
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus {
  background-color: #ffffff !important;
  color: #cccccc !important;
}
.btn-secondary-outline:hover {
  color: #ffffff !important;
}
.btn-info-outline {
  background-color: transparent !important;
  border: 2px solid #cccccc !important;
  color: #ffffff !important;
  color: #cccccc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #4d4d4d;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus {
  background-color: #cccccc !important;
  color: #cccccc !important;
}
.btn-info-outline:hover {
  color: #ffffff !important;
}
.btn-success-outline {
  background-color: transparent !important;
  border: 2px solid #2d35ac !important;
  color: #ffffff !important;
  color: #2d35ac !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #2d35ac;
  color: #2d35ac;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #2d35ac;
  border-color: #2d35ac;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2d35ac !important;
  border-color: #2d35ac !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus {
  background-color: #2d35ac !important;
  color: #cccccc !important;
}
.btn-success-outline:hover {
  color: #ffffff !important;
}
.btn-warning-outline {
  background-color: transparent !important;
  border: 2px solid #df3838 !important;
  color: #ffffff !important;
  color: #df3838 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #df3838;
  color: #df3838;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #df3838;
  border-color: #df3838;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #df3838 !important;
  border-color: #df3838 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus {
  background-color: #df3838 !important;
  color: #cccccc !important;
}
.btn-warning-outline:hover {
  color: #ffffff !important;
}
.btn-danger-outline {
  background-color: transparent !important;
  border: 2px solid #84bc7c !important;
  color: #ffffff !important;
  color: #84bc7c !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #84bc7c;
  color: #84bc7c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #84bc7c;
  border-color: #84bc7c;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #84bc7c !important;
  border-color: #84bc7c !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus {
  background-color: #84bc7c !important;
  color: #cccccc !important;
}
.btn-danger-outline:hover {
  color: #ffffff !important;
}
.btn-black-outline {
  background-color: transparent !important;
  border: 2px solid #333333 !important;
  color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus {
  background-color: #333333 !important;
  color: #cccccc !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #42474c !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #2d35ac !important;
}
.text-info {
  color: #cccccc !important;
}
.text-warning {
  color: #df3838 !important;
}
.text-danger {
  color: #84bc7c !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #717a83 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ffffff !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #686fd7 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #ed9090 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #c3dfbf !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #42474c;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #cccccc;
}
.alert-warning {
  background-color: #df3838;
}
.alert-danger {
  background-color: #84bc7c;
}
.mbr-gallery-filter li.active .btn {
  background-color: #42474c;
  border-color: #42474c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #42474c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b5babf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #7c82dd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fbe8e8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d3e7d0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #42474c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #42474c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #42474c;
  border-bottom-color: #42474c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #42474c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2342474c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-swetDqQQWr .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-swetDqQQWr .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-swetDqQQWr .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-swetDqQQWr .dropdown-item {
  color: #000000 !important;
}
.cid-swetDqQQWr .dropdown-item:hover {
  color: #000000 !important;
}
.cid-swetDqQQWr .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-swetDqQQWr .nav-link:hover {
  color: #ffffff !important;
}
.cid-swetDqQQWr .btn-white {
  color: #42474c !important;
}
.cid-swetDqQQWr .btn:hover {
  border-color: #ffffff !important;
  color: #ffffff !important;
}
.cid-swetDqQQWr .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-swetDqQQWr .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-swetDqQQWr .container {
  display: flex;
  margin: auto;
}
.cid-swetDqQQWr .navbar.navbar-short .nav-link,
.cid-swetDqQQWr .navbar.navbar-short .navbar-caption,
.cid-swetDqQQWr .navbar.navbar-short .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
}
.cid-swetDqQQWr .navbar.navbar-short .hamburger span {
  background: #ffffff !important;
}
.cid-swetDqQQWr .navbar-caption {
  padding-right: 3rem;
}
.cid-swetDqQQWr .navbar.opened {
  background: #df3838 !important;
}
.cid-swetDqQQWr .nav-item:focus,
.cid-swetDqQQWr .nav-link:focus {
  outline: none;
}
.cid-swetDqQQWr .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-swetDqQQWr .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-swetDqQQWr .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-swetDqQQWr .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-swetDqQQWr .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-swetDqQQWr .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-swetDqQQWr .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #df3838;
  background: none;
}
.cid-swetDqQQWr .navbar.opened {
  transition: all 0.3s;
}
.cid-swetDqQQWr .navbar .dropdown-item {
  padding: 0.5rem 1.5rem;
}
.cid-swetDqQQWr .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-swetDqQQWr .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-swetDqQQWr .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-swetDqQQWr .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-swetDqQQWr .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-swetDqQQWr .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-swetDqQQWr .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-swetDqQQWr .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-swetDqQQWr .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-swetDqQQWr .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-swetDqQQWr .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-swetDqQQWr .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-swetDqQQWr .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-swetDqQQWr .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-swetDqQQWr .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-swetDqQQWr .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-swetDqQQWr .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-swetDqQQWr .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-swetDqQQWr .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-swetDqQQWr .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-swetDqQQWr .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-swetDqQQWr .navbar.navbar-short {
  background: #df3838 !important;
  min-height: 60px;
}
.cid-swetDqQQWr .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-swetDqQQWr .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-swetDqQQWr .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-swetDqQQWr .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-swetDqQQWr .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-swetDqQQWr .dropdown-item.active,
.cid-swetDqQQWr .dropdown-item:active {
  background-color: transparent;
}
.cid-swetDqQQWr .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-swetDqQQWr .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-swetDqQQWr .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-swetDqQQWr .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #df3838;
}
.cid-swetDqQQWr .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-swetDqQQWr .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-swetDqQQWr ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-swetDqQQWr .navbar-buttons {
  text-align: center;
}
.cid-swetDqQQWr button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-swetDqQQWr button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-swetDqQQWr button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-swetDqQQWr button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-swetDqQQWr button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-swetDqQQWr button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-swetDqQQWr nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-swetDqQQWr nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-swetDqQQWr nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-swetDqQQWr nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-swetDqQQWr .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-swetDqQQWr a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-swetDqQQWr .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-swetDqQQWr .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-swetDqQQWr .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-swetDqQQWr .navbar {
    height: 77px;
  }
  .cid-swetDqQQWr .navbar.opened {
    height: auto;
  }
  .cid-swetDqQQWr .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-swet8iG27a {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #2d35ac;
}
.cid-swet8iG27a .content__block {
  padding: 50px 15px;
}
.cid-swet8iG27a .circle:after {
  content: '•';
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  margin-top: -2px;
  color: #42474c;
  margin-left: 4px;
  margin-right: 4px;
}
.cid-swet8iG27a .mbr-section-subtitle {
  margin-bottom: 20px;
}
.cid-swet8iG27a .mbr-text {
  opacity: 0.6;
  margin-bottom: 25px;
}
.cid-swet8iG27a .image {
  perspective: 3500px;
  position: relative;
}
.cid-swet8iG27a .image:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  right: -1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(45, 53, 172, 0.99));
  z-index: 1;
  pointer-events: none;
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(45, 53, 172, 0.99));
}
.cid-swet8iG27a .image img {
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-swet8iG27a .mbr-section-btn .btn-white-outline {
  padding: 3px 0;
  margin-bottom: 20px;
  border: none !important;
  background-color: transparent !important;
}
.cid-swet8iG27a .mbr-section-btn .btn-white-outline:hover {
  color: #42474c !important;
}
@media (max-width: 991px) {
  .cid-swet8iG27a .content__block {
    padding: 30px 15px;
  }
  .cid-swet8iG27a .mbr-figure {
    padding: 0;
  }
  .cid-swet8iG27a .image:before {
    width: 100%;
    height: 50%;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(45, 53, 172, 0.99));
  }
}
@media (min-width: 992px) {
  .cid-swet8iG27a .lg-push {
    right: 13%;
  }
  .cid-swet8iG27a .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .cid-swet8iG27a .row:hover .image img {
    transform: rotateY(8deg);
  }
  .cid-swet8iG27a .lg-push {
    left: 13%;
  }
  .cid-swet8iG27a .row:hover .image img {
    transform: rotateY(-8deg);
  }
}
.cid-swet8iG27a .btn:hover .mbr-iconfont {
  animation: animBtn ease-out 0.3s;
}
@keyframes animBtn {
  0% {
    transform: translateX(0px);
  }
  51% {
    transform: translateX(20px);
    opacity: 1;
  }
  52% {
    opacity: 0;
    transform: translateX(-20px);
  }
  53% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}
.cid-rUTpFZsfIT {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rUTpFZsfIT img {
  width: 100%;
  object-fit: cover;
}
.cid-rUTpFZsfIT .quote {
  color: #333333;
  font-weight: 700;
}
.cid-rUTpFZsfIT .img-card {
  justify-content: center;
}
.cid-rUTpFZsfIT .card {
  border-radius: 0;
  background: #ffffff;
}
.cid-rUTpFZsfIT .card-title {
  margin-bottom: 1.2rem;
}
.cid-rUTpFZsfIT .mbr-section-subtitle {
  margin-bottom: 0.7rem;
  font-weight: 700;
}
.cid-rUTpFZsfIT .img-col {
  padding: 0;
}
@media (max-width: 767px) {
  .cid-rUTpFZsfIT .wrapper {
    padding: 3rem 0rem 0rem 0rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-rUTpFZsfIT .wrapper {
    padding: 3rem 0rem 0rem 0rem;
  }
}
@media (min-width: 992px) {
  .cid-rUTpFZsfIT .wrapper {
    padding: 6rem 0rem 6rem 6.3rem;
  }
}
.cid-rUTpFZsfIT .card-title,
.cid-rUTpFZsfIT .card-box {
  color: #2d35ac;
}
.cid-rUTpFZsfIT H3 {
  color: #df3838;
}
.cid-svnlNwRpD4 {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-svnlNwRpD4 .nav-tabs .nav-item.open .nav-link:focus,
.cid-svnlNwRpD4 .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-svnlNwRpD4 .nav-tabs {
  -webkit-flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  border: 0;
}
.cid-svnlNwRpD4 .nav-tabs .nav-item {
  padding: 0.25rem 1rem;
}
.cid-svnlNwRpD4 .nav-tabs .nav-link {
  border-radius: 0!important;
  font-style: normal;
  font-weight: 500;
  color: #777d74;
  transition: all .5s;
}
.cid-svnlNwRpD4 .nav-tabs .nav-link:hover {
  cursor: pointer;
  color: #000000;
}
.cid-svnlNwRpD4 .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #000000;
  font-style: normal;
}
.cid-svnlNwRpD4 .nav-link {
  border: none;
  border-bottom: 3px solid #f8f8f8;
}
.cid-svnlNwRpD4 .nav-link:hover {
  border: none;
  border-bottom: 3px solid #df3838;
}
.cid-svnlNwRpD4 .nav-link.active {
  border: none;
  border-bottom: 3px solid #df3838;
}
.cid-svnlNwRpD4 P {
  color: #42424c;
}
@media (max-width: 576px) {
  .cid-svnlNwRpD4 .nav-tabs {
    flex-direction: column;
    justify-content: center;
  }
  .cid-svnlNwRpD4 .mbr-text,
  .cid-svnlNwRpD4 .nav-link {
    text-align: center;
  }
}
.cid-svnlNwRpD4 H2 {
  text-align: center;
}
.cid-svnir8mvKX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2d35ac;
}
.cid-svnir8mvKX .row {
  background: #ffffff;
  padding: 3rem 2rem;
  margin: 0rem;
}
@media (max-width: 767px) {
  .cid-svnir8mvKX .row {
    padding: 1rem 0rem;
  }
}
.cid-svnir8mvKX img {
  width: 90%;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .cid-svnir8mvKX img {
    width: 100%;
  }
}
.cid-svnir8mvKX .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 1rem;
}
.cid-svnir8mvKX .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-svnir8mvKX .counter-container ul li:before {
  position: absolute;
  left: -15px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: "✓";
}
.cid-svnir8mvKX .mbr-text,
.cid-svnir8mvKX .mbr-section-btn {
  color: #777777;
}
.cid-svnir8mvKX .mbr-section-subtitle {
  color: #df3838;
}
.cid-svnir8mvKX .mbr-section-title {
  color: #2d35ac;
}
.cid-svnfMbWsV2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-svnfMbWsV2 img {
  width: 100%;
  object-fit: cover;
}
.cid-svnfMbWsV2 .quote {
  color: #333333;
  font-weight: 700;
}
.cid-svnfMbWsV2 .img-card {
  justify-content: center;
}
.cid-svnfMbWsV2 .card {
  border-radius: 0;
  background: #ffffff;
}
.cid-svnfMbWsV2 .card-title {
  margin-bottom: 1.2rem;
}
.cid-svnfMbWsV2 .mbr-section-subtitle {
  margin-bottom: 0.7rem;
  font-weight: 700;
}
.cid-svnfMbWsV2 .img-col {
  padding: 0;
}
@media (max-width: 767px) {
  .cid-svnfMbWsV2 .wrapper {
    padding: 3rem 0rem 0rem 0rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-svnfMbWsV2 .wrapper {
    padding: 3rem 0rem 0rem 0rem;
  }
}
@media (min-width: 992px) {
  .cid-svnfMbWsV2 .wrapper {
    padding: 6rem 0rem 6rem 6.3rem;
  }
}
.cid-svnfMbWsV2 H4 {
  color: #df3838;
}
.cid-svnfMbWsV2 .card-title,
.cid-svnfMbWsV2 .card-box {
  color: #2d35ac;
}
.cid-rUTpGhQLS4 {
  padding-top: 60px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/unnamed-512x307.jpg");
}
.cid-rUTpGhQLS4 img {
  filter: grayscale(1);
}
.cid-rUTpGhQLS4 .image-wrap {
  position: relative;
}
.cid-rUTpGhQLS4 .mbr-section-subtitle {
  color: #999999;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.cid-rUTpGhQLS4 .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-rUTpGhQLS4 .card-wrap {
  background: #ffffff;
}
.cid-rUTpGhQLS4 .card-wrap .image-wrap img {
  width: 100%;
}
.cid-rUTpGhQLS4 .card-wrap .content-wrap .mbr-section-btn {
  padding-top: 1rem;
}
.cid-rUTpGhQLS4 .card-wrap .content-wrap .mbr-section-btn .btn {
  margin: 0;
}
.cid-rUTpGhQLS4 .mbr-role {
  margin-bottom: 1rem;
  color: #2d35ac;
}
.cid-rUTpGhQLS4 .main-heading {
  margin-bottom: 2.2rem;
}
.cid-rUTpGhQLS4 .btn {
  margin-top: 3rem;
}
.cid-rUTpGhQLS4 .mbr-text {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rUTpGhQLS4 .team-card.last-card {
    margin-bottom: 0;
  }
  .cid-rUTpGhQLS4 .content-wrap {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-rUTpGhQLS4 .team-card.last-row-card {
    margin-bottom: 0;
  }
  .cid-rUTpGhQLS4 .content-wrap {
    padding: 1.5rem 1.9rem 1.8rem;
  }
}
@media (min-width: 992px) {
  .cid-rUTpGhQLS4 .team-card:not(.first-row-card) {
    margin-bottom: 0;
  }
  .cid-rUTpGhQLS4 .content-wrap {
    padding: 1.5rem 1.9rem 1.8rem;
  }
}
.cid-rUTpGhQLS4 .btn-primary-outline {
  color: #ffffff !important;
}
.cid-rUTpGhQLS4 .btn-primary-outline:hover {
  color: #cccccc !important;
}
.cid-rUTpGhQLS4 .btn-2 {
  color: #42474c !important;
}
.cid-rUTpGhQLS4 .main-title {
  color: #ffffff;
}
.cid-rUTpGhQLS4 .mbr-section-subtitle-1 {
  color: #ffffff;
}
.cid-svnqYFTdhB {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-svnqYFTdhB img {
  width: 120px;
  margin: auto;
}
.cid-svnqYFTdhB .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-svnqYFTdhB .card {
    max-width: 15%;
  }
}
.cid-svnqYFTdhB .mbr-section-title {
  color: #2d35ac;
}
.cid-svninY9LJb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-svninY9LJb p {
  margin-bottom: 0rem;
}
.cid-svninY9LJb .btn {
  margin-bottom: 0rem;
}
.cid-svninY9LJb .mbr-section-title {
  margin-bottom: 20px;
}
.cid-svninY9LJb .mbr-section-subtitle {
  opacity: 0.8;
  margin-bottom: 15px;
}
.cid-svninY9LJb .mbr-section-btn {
  margin-right: 0rem;
}
@media (max-width: 767px) {
  .cid-svninY9LJb .mbr-section-btn {
    text-align: left;
  }
  .cid-svninY9LJb .btn {
    margin-left: 0rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-svninY9LJb .mbr-section-btn {
    text-align: left;
  }
  .cid-svninY9LJb .btn {
    margin-left: 0rem;
  }
}
@media (min-width: 992px) {
  .cid-svninY9LJb .btn {
    margin-top: 0rem;
  }
}
.cid-svnJN2ohTa {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #2d35ac;
}
.cid-svnJN2ohTa .social-row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .cid-svnJN2ohTa .social-row {
    justify-content: center;
  }
  .cid-svnJN2ohTa .social-row .soc-item {
    margin-right: 0;
    margin: 0 0.5rem;
  }
}
.cid-svnJN2ohTa .mbr-section-subtitle {
  letter-spacing: 0;
}
.cid-svnJN2ohTa a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-svnJN2ohTa li {
  line-height: 2;
}
.cid-svnJN2ohTa .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 0.8rem;
  margin-bottom: 1rem;
  height: 3.2rem;
  width: 3.2rem;
}
.cid-svnJN2ohTa .soc-item:hover .mbr-iconfont {
  color: #42474c;
}
.cid-svnJN2ohTa .list {
  list-style: none;
  padding-left: 0;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-svnJN2ohTa .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-svnJN2ohTa .list {
    margin-bottom: 0rem;
  }
}
.cid-svnJN2ohTa .mbr-text {
  color: #bbbbbb;
}
.cid-svnJN2ohTa .mbr-iconfont {
  transition: color 0.3s;
  color: #ffffff;
  font-size: 1.2rem;
}
.cid-swexb4PrMv {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #2d35ac;
}
.cid-svnMteedLG {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #2d35ac;
}
